body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(153, 180, 255);
}

#formulario{
    margin: 30px, auto;
    padding: 20px;
    background-color: #E0E0E0;
    border: 1px solid #3B4AD4;
    border-radius: 10px;
}

label{
    font-size: 16px;
    font-weight: bold;
    color: rgb(32, 47, 189);
}

input[type="text"],
input[type="email"],
textarea{
    padding: 10px;
    border: 1px solid rgba(148, 148, 148, 0.8);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"]
{
    margin-right: 5px;
}

input[type="submit"],
button[type="reset"],
button[type="button"]{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(36, 38, 61);
    background-color: lightgreen;
    cursor: pointer;
    margin-right: 10px;
}

button[type="button"]
{
    background-color: red;
}

select{
    padding: 10px;
    border: 1px solid rgba(148, 148, 148, 0.8);
    border-radius: 5px;
    font-size: 16px;
    width: 50%;
    background-image: linear-gradient(to bottom, #00d9ff, #3B4AD4);
}
select:focus{
    outline: 2px solid lightskyblue;
    border-color: mediumblue;
}

legend{
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 38, 61);
}

input:invalid{
    border-color: 2px red;
}

#rodape{
    margin: 0 auto;
    text-align: center;
}